<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
<h1>Привет, я автор</h1>
<p>
  Я придумал, что я буду Уставший Мишан. Это не потому, что я уставший.
</p>
 <p>
  А потому, что это лишнее напоминание себе о том, что когда ты долго сидишь в Практикуме, нужно не забывать отдыхать - 
  ходить на свежий воздух, делать физические упражнения, не забывать питаться
  и переключаться.
</p>
<p>
  Это мой первый проект, я делаю его долго, упорно, обязательно с помощью кураторов, ревьюеров и добрых людей в Пачке.
  Скорее всего этот текст никто не увидит, но если ты его читаешь и дошел до этого момента - 
  то наверное у тебя много свободного времени. Но я все равно посылаю тебе лучи добра, как научил нас
  куратор Петр.
</p>
<p> 
  Никогда не думал, что смогу написать такую сложную штуку, как этот проект. Которая так много может.
</p>
<p> 
    Спасибо что дочитал до конца! С Уважением, Уставший Мишан!
</p>
{% endblock %} 